/* Imports the Open Sans font family with two weights */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/* Penn State Colors */
:root {
	--nittany-navy: 	#001E44;
	--beaver-blue: 		#1E407C;
	--pennsylvania-sky:	#009CDE;
	--pugh-blue: 		#96BEE6;
}
  
/*Core Text Display Elements*/
html {
	font-size: 1rem; /* 10px => 16px */
}

body {
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Segoe UI Symbol";
	font-weight: 400;
	font-size: 1rem;
    line-height: 1.5rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 0;
  	margin-bottom: 0.5rem;
	font-weight: 400;
}

h1, .h1 {
	font-size: 2.5rem;
}

h2, .h2 {
	font-size: 2rem;
}

h3, .h3 {
	font-size: 1.75rem;
}

h4, .h4 {
	font-size: 1.5rem;
}

h5, .h5 {
	font-size: 1.25rem;
	font-weight: 700;
}

h6, .h6 {
	font-size: 1rem;
}

.main-header .sidebar-toggle {
	padding: 0.8rem 1.2rem;
}

.sidebar {
	width: 100%;
}

.main-sidebar, .sidebar {
	display: flex;
}

.sidebar {
	flex-direction: column;
	flex: 1 0 auto;
	justify-content: space-between;
}

.main-sidebar {
	background-color: var(--beaver-blue) !important;
}

.sidebar-menu {
	flex-direction: column;
	flex: 1 0 auto;
	justify-content: space-between;
}

.sidebar-logo {
	padding: 0.25rem 0.5rem;
}

.updated {
	font-size: 75%;
	font-weight: 400;
	text-align: center;
}

/*Non-title portion of dashboard header*/
.skin-blue .main-header>.navbar {
	background-color: var(--beaver-blue);
}

/*Background of Main Text Area*/
.content-wrapper,
.right-side {
	background-color: white;
	/*Override requires the !important tag*/
}

/*Title portion of dashboard header*/
.skin-blue .main-header .logo {
	background-color: var(--beaver-blue);
	color: white;
}

/*Title Portion Hover Color--Why does this need a hover?*/
.skin-blue .main-header .logo:hover {
	background-color: var(--beaver-blue);
}

/*Font Control for Dashboard Title*/
.main-header .logo {
	/* Default is White; to overide use -> color: #f39c12 !important; */
}

.skin-blue .sidebar a {
	color: white;
}

.sidebar-picture {
	position: fixed;
	bottom: 0;
}

.skin-blue .sidebar-menu li.active a,
.skin-blue .sidebar-menu li:hover a {
	background: var(--pennsylvania-sky);
	color: black;
	border-left-color: var(--pugh-blue);
}


/*Button Appearance*/
.btn-default {
	background-color: var(--beaver-blue);
	color: white;
}

.btn-game {
	background-color:  white;
	color: black;
	font-size: 1.5rem;
	text-align: left;
}

.btn-textGame {
	background-color:  white;
	color: black;
	font-size: 1.1rem;
	text-align: left;
	white-space: normal;
	overflow-wrap: break-word;
}

.btn-ttt[disabled] {
  opacity: 1;
}

.btn-ttt {
  display: inline-block;
  font-size: 4rem;
  width: 80px;
  height: 80px; 
  text-align: center;
  line-height: 1;
  margin-bottom: 3px;
}

.btn-ttt:active {
  background-color: var(--pennsylvania-sky);
}

.btn-ttt:hover {
  background-color: var(--pennsylvania-sky);
  color: black;
}

.btn-ttt[disabled]:hover {
  background-color: var(--beaver-blue);
  color: white;
}

/*Hovertext/Rollover/Popover Title Controls*/
.popover-title {
	background-color: var(--pennsylvania-sky);
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 1em;
	color: black;
	text-align: center;
}

/*Hovertext/Rollover/Popover content Controls*/
.popover-content {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: black;
}

label {
	font: 100% 'Open Sans';
	font-weight: 400 !important;
}

/*Slider Controls; note that .js-irs-# can be appended in front of the following to
create customized appearances. This is NOT recommended.*/

/*Ends of Slider Bar*/
.irs-bar-edge {
	border-color: var(--beaver-blue);
	background: var(--pennsylvania-sky);
}

/*Middle Portion of Slider Bar*/
.irs-bar {
	border-top-color: var(--beaver-blue);
	border-bottom-color: var(--beaver-blue);
	background: var(--pennsylvania-sky);
	color: black;
}

/*Slider edges*/
.irs-line {
	border: 1px solid black;
}

/*Slider major tick marks*/
.irs-grid-pol {
	width: 1px;
	height: 0.5rem;
	background: black;
}

/*Slider minor tick marks*/
.irs-grid-pol.small {
	width: 1px;
	height: 0.25rem;
	background: black;
}

/*Slider Icon*/
.irs-slider {
	width: 0.5rem;
	height: 1.25rem;
	top: 1.1875rem;
}

/*Slider Text bubble*/
.irs-single {
	background: var(--pugh-blue);
	font-weight: 700;
	font-size: 0.875rem;
	color: black;
	padding: 0.1rem 0.4rem;
	margin-top: -4px;
}

/*Slider Text controls*/
.irs-min, .irs-max {
	padding: 0.1rem 0.4rem;
}

.irs-grid-text,
.irs-min,
.irs-max {
	font-size: 0.875rem;
	color: black;
	background: white;
}

/*Sweet Alert controls*/
.sweet-alert h2, .sweet-alert p {
	color: black !important;
}

.sweet-alert button {
	background-color: var(--beaver-blue) !important;
	color: white;
}

.sweet-alert input {
	border: 1pt solid var(--beaver-blue) !important;
}